<%- include("partials/header.ejs") %>

<div class="jumbotron centered">
  <div class="container ">
    
    <h1> HomePage </h1>
    <a class="btn btn-light text-danger font-weight-bold btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>


<%- include('partials/footer') %>