
body {
  background-color: grey;
  
}

.centered {
  height: 100vh;
  padding-top: 200px;
  text-align: center;
}


.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

